@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dresks');
  src:  url('../fonts/icomoon.eot?dresks#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dresks') format('truetype'),
    url('../fonts/icomoon.woff?dresks') format('woff'),
    url('../fonts/icomoon.svg?dresks#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}
.icon-rigtharrow:before {
  content: "\ea34";
}
.icon-leftarrow:before {
  content: "\ea38";
}
*{
    /* border: 1px solid blue; */
}
body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
}
.articleContent {
  font-family: Montserrat;
  font-size: 14px;
}
.articleContent img {
  width: 95%;
}
a {
  text-decoration: none;
}
p a {
  color: black;
}
input:focus, textarea:focus {
  background: lightgray;
}
.contenedor {
  margin: auto;
  position: relative;
}
.article{
  width: 100%;
  min-height: 300px;
  background: lightgray;
  display: inline-flex;
}
.navBar {
  display: inline;
  width: 20%;
}
.article_content {
  padding: 0 5%;
  display: inline;
  width: 65%;
  margin: auto;
  margin-bottom: 80px;
}
p {
  text-align: justify;
}
#bar li div.top { float:left; margin-left:10px;
   width:40px; height:100px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
   -webkit-transition-property: margin-left;
   -webkit-transition-duration: 500ms;
}

#bar li div.bottom { width:50px;
   height:100px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
   -webkit-transition-property: width;
   -webkit-transition-duration: 500ms;
}
.content {
  text-align: center;
  margin: auto;
}
.header {
  background-color: rgba(0,0,0,0.9);
  position: relative;
  padding: 10px;
}
.rotateArrow {
  transform: rotate(-180deg) !important;
  color: white!important;
  border-color: white!important;
  left: 77px !important;
}
.rotateMenu {
  transform: rotate(-180deg) !important;
  transition: .5s;
}
.moveArrow {
  top: 20px !important;
  left: 77px !important;
}
#navButton {
  border: 2px solid white;
  color: white;
  background: black;
  border-radius: 50%;
  left: 20px;
  top: 210px;
  display: none;
  transform: rotate(0deg);
  width: 40px;
  height: 40px;
  line-height: 40px;
  z-index: 2;
  transition: .5s;
  transition-timing-function: ease-in;
}

#sidebar {
  /* position: fixed; */
  height: 100%;
  background: #151719;
  transition: all 500ms linear;
  text-align: center;
  left: 0;
  min-width: 200px;
  z-index: 1;
}

#sidebar.activeNav {
  left: 0;
  top: 0px;
  bottom: 0;
  padding-top: 250px;
  position: fixed;
  transition: .5s;
  transition-timing-function: ease-in;

}
#sidebar.activeNavTop {
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 50px;
  position: fixed;
  transition: .5s;
  transition-timing-function: ease-in;
}
#sidebar ul{
  padding: 10px 0;
  margin: 0;
  transition: .5s;
}
#sidebar ul li a{
  text-decoration: none;
  color: rgba(230, 230, 230, .9);
}
#sidebar ul li {
  list-style: none;
  padding: 15px 0;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}
iframe {
  max-width: 490px;
  width: 80%;
  height: 280px;
}
.background {
  background-image: url('../images/engrane.jpg');
  background-size: cover;
}
.background-color {
    background-color: rgba(0,0,0,0.5);
    padding: 20px 40px;
}
.drawIoCharts:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  background-color: rgba(150,150,150,0.5);
  z-index: 2;
  transition: .3s;
}

.button {
  border-radius: 10px;
  border: 2px solid;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 18px;
  background: #89021b;
  text-decoration: none;
  width: max-content;
}
.logotipo {
  display: inline-block;
}
.fotos {
  display: flex;
}
.fotos img {
  border: 5px solid white;
  border-radius: 100%;
  max-width: 300px;
  width: 80%
}
.fotos a {
  text-shadow:1px 1px  white;
  color:#222222 ;
}
.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 8%;
  color: white;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu li {
  display: inline-block;
  margin-left: 30px;
}
.menu li:before {  /*seudo elemento */
  content: '∘';
}
.presentacion {
  color: white;
  margin: 60px 15%;
  text-align: left;
  height: auto;
  padding:5% 0;
  background-color: rgba(0,0,0,0.3);
}
.texto {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulo {
  margin: 0;
  font-size:50px;
  font-family: 'Montserrat', sans-serif;
}
.subtitulo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
.proyectos {
  color: white;
}
.vistas {
  position: relative;
  display: flex;
  justify-content: center;
}
.subCont{
  padding-top: 15px;
  display: block;
}
.showUp {
  width: 30%;
  height: 30%;
  margin: 10px;
}
.showUp:hover {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transform: scale(2);
  transition: .5s;
  z-index: 2;
  align-self: center;
}

img.b-loaded {
  /* transform: translateZ(0); */
  opacity: 1;
  left: 0px;
  transition: .5s;
}

.proyecto:hover{
  transform: scale(1.2);
  background: #202020;
  border: 1px solid white;
  border-radius: 15px;
  z-index: 2;
}

.proyecto img {
  width: 100%;
}
.proyecto h3 {
  margin-top: 0;
}
.description  {
  font-size: 15px;
  font-weight: 100;
}
.description  a{
  display: inline-block;
  font-size: 15px;
  margin: 5px 0;
  font-weight: 100;
}
.contenidos {
  margin-bottom: 50px;
  display: flex;
}

.footer {
  background: linear-gradient(to right, #89021b 0%,#510008 100%);
  padding: 50px 10px;
}
.contacto img {
  display: block;
}
.contacto {
  display: flex;
  width: 300px;
  align-items: center;
  flex-wrap: wrap;
}
.contacto strong
{
  display: block;
}
.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}
.footer .contenedor {
  display: flex;
  justify-content: space-around;
}
.formulario {
  display: flex;
  color: white;
}
.col1,.col2 {
  display: flex;
  flex-direction: column;
}
.col1 {
  margin-right: 15px;
}
.col2 .button {
  margin-top: 15px;
}
.intereses label {
  font-size: 12px;
}
.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}
.sexo {
  margin-top: 10px;
}
.menu li:before {  /*seudo elemento */
  content: '∘';
}
.tabla {
  margin: 50px 0 50px 0;
}
.contacto img {
   margin-right: 100px;
}
.burguer-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: white;
  border-radius: 50%;
  background: #000000;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 4;
  border: 2px solid white;
  display: none;
  transform: rotate(0deg);
  transition: .5s;
}
@media screen and ( max-width: 1000px) {
  .contenidos {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .vistas {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .showUp {
    width: 60%;
    height: 60%;
  }
  .contenedor {
    max-width: none;
  }
}
@media screen and ( max-width: 780px) {
  /*portada*/
    #sidebar {
      position: fixed;
      left: -300px;
      transition: .5s;
      top:0px;
      bottom: 0;
      padding: 250px 0;
    }
    #navButton {
      position: fixed;
      display: block;
    }

    .header {
      text-align: center;
      z-index: 2;
    }
    .titulo {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .subtitulo {
      font-size: 16px;
      margin-bottom: 50px;
    }
    .title {
      font-size: 18px;
    }
    .portada .button {
      margin-bottom: 30px;
    }
    .menu {
      position: static;
      display: block;
    }
    .menu ul {
      padding: 0;
    }
    .menu li:first-child {
      margin-left: 0;
    }
  /*portada*/
}

@media screen and (max-width:767px) {
  .footer .contenedor {
    display: block;
  }
  .article_content {
    width: 100%;
  }
  .contacto {
    margin: auto;
    align-items: center;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
  .contacto img {
    margin-right: 0;
    margin: auto;
  }
  .formulario{
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .intereses label {
    display: block;
  }
  input[type="text"],
  input[type="email"]{
    font-size: 16px;
    padding: 5px;
  }
  input[type="checkbox"],
  input[type="radio"]{
    zoom : 1.5;
  }
  .intereses label {
    font-size: 16px;
  }
  .col2 .button{
    display: block;
    width: auto;
  }
}
@media screen and (max-width:650px) {
  .header {
    text-align: center;
  }
  .fotos {
    flex-wrap: wrap;
    justify-content: center;
 }
 .fotos a {
   margin-bottom: 2px;
   border-bottom: 2px solid #555;
 }

  .menu {
    position: static;
    display: block;
  }
  .menu {
    position: static;
  }
  .menu  ul {
    padding: 0;
  }
  .contenidos {
    display: block;
  }
  .proyecto {
    margin: 5px 15%;
    width: inherit;
  }
  .contProject {
    position: static;
    text-align: center;
  }
}
@media screen and (max-width:590px) {
  .burguer-button {
    display: block;
  }
  #navButton {
    top: 180px;
  }
  #sidebar.activeNav {
    padding: 210px 0;
  }
  #sidebar.activeNavTop {
    padding: 50px 0;
  }
  .portada .button{
      display: block;
      text-align: center;
      font-size: 20px;
  }
  .presentacion {
    padding: 10% 0;
    margin: 10% 15%;
    bottom: auto;
  }
  .menu li{
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid;
  }
  .menu li:before {
    display: none;
  }
  .titulo {
    font-size: 30px;
  }
  .title-a {
    font-size: 16px;
  }
  .guitarra img {
    width: 200px;
    height: auto;
  }
  .button {
    padding: 2% 5%;
    font-size: 15px;
  }
  .menu {
    /* background: linear-gradient(to top,#aa0000ee,#000000ee); */
    /* background: linear-gradient(to top, #89021b 0%,#510008 100%); */
    background: linear-gradient(to top, #89021bee 0%,#020000 100%);

    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 300ms;

  }
  .menu ul {
    flex: 1;
  }
  .contenedor {
    position: static;
  }
  .portada {
    display: static;
    padding: 0;
  }
  .header {
    max-width: 100%;
    height: 140px;
  }
  .menu.active {
    left: 0;
    transition: 300ms;
  }
}
@keyframes appear {
  0% {
    color: black;
    border-color: black;
  }
  100% {
    color: white;
    border-color: white;
  }
}
